<style>
    .spacer {
        flex: 1;
    }
    
    .toolbar {
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        color: black;
        font-weight: bold;
        font-size: 28px;
        border: 1px solid rgba(0, 0, 0, .12);
        padding: 0px 15px;
    }
    
    .content-container {
        height: calc(100% - 75px);
    }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span>{{!loggedIn ? 'Welcome User!' : 'Notes'}}</span>
    <div class="spacer"></div>
    <button *ngIf="loggedIn" mat-stroked-button color="primary" (click)="logout()">Logout</button>
    <button *ngIf="!loggedIn" mat-stroked-button color="primary" (click)="login()">Login</button>
</div>

<div class="content-container">
    <div *ngIf="!loggedIn" style="padding-top:50px;text-align:center">Please Login..!!</div>
    <router-outlet></router-outlet>
</div>